/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Utilities */
.light-blue {
    color: #F2E9eb;
}
.lighter-blue {
    color: #D1D9DF;
}
.dark-blue {
    color: #31383F;
}
.light-grey {
    color: #F0F0F0;
}
body {
    height: 100vh;
}
h1, h4, h3 {
    color: #31383F;
    font-weight: bolder;
    transition: .2s;
}
h1 {
    font-size: 25px;
}
h4 {
    font-size: 14px;
}
h3 {
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #31383F;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
ul {
    list-style: none;
}
ul li {
    padding: 10px;
}
/* ----------- Sign Up ------------ */
.background {
    background-color: #F2E9eb;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

form, .chat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    width: 468px;
    min-width: 467px;
    height: 600px;
    box-shadow: #31383F 0px .3px 15px 0px;
}
.input-container, .input-container-msg {
    display: flex;
    min-width: 450px;
}

.input-container > input, textarea {
    background-color: #f2e9ebc3;
    font-size: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    transition: .3s;
    outline: none;
}

input::placeholder, textarea::placeholder {
    font-size: 17px;
    color: #31383F;
}
textarea {
    height: 100px;
}
.group {
    display: flex;
    justify-content: space-between;
}
.gender {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    align-items: center;
}
.gender-input {
    padding: 10px 20px;
    background-color: #f2e9ebc3; 
    border-radius: 10px;
    color: #31383F;
    margin: 20px;
}
.submit {
    padding: 10px 20px;
    background-color: #31383F;
    border-radius: 10px;
    color: #F0F0F0;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
}
.login {
    display: flex;
    flex-direction: row;
}

.login > span {
    color: #31383F;
    font-weight: 500;
}

.login > button {
    font-size: 18px;
    color: #31383F;
    border: none;
    margin-left: 20px;
    background:none;
    font-weight: bolder;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s;
}

.login > button:hover {
    transition: .3s;
    transform: scale(1.05);
}
.logo {
    width: 150px;
    height: 150px;
}

.logo-small {
    width: 68px;
    height: 68px;
}
/* Home Page */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0 10px 5%;
    width: 20%;
    height: 100%;
    position: fixed;
    box-shadow: #31383F 0px 0px 10px 0px;
}

.main {
    width: 80%;
    height: 100%;
    margin-left: 20%;
}

/* Start Header Nav */
.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    justify-content: space-between;
  }
.nav-links a {
    display: flex;
    align-items: center;
    padding: 8px 25px 8px 8px;
    font-size: 15px;
    width: fit-content;
}
.nav-links a i {
    margin-right: 15px;
    font-size: 1.5rem;
}
.nav-links a:hover {
    background-color:#F2E9eb;
    border-radius: 50px;
}
.nav-links a:hover:first-child {
    background-color:#F2E9eb;
}
.nav-links a:first-child i {
    margin: 0;
}
.logout-button {
    background-color: #31383F;
    width: 90%;
    height: 90px;
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 10px 5px;
    transition: 0.3s;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1rem;
}

/* Main Section Users */
.column {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    margin-left: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: #31383F 0px 0px 10px 0px;
}

.image-user {
    width: 150px;
    height: 150px;
}
.image-user img {
    width: 100%;
    border-radius: 50%;
    height: fit-content;
}
.info {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    background-color: #F2E9eb;
    border-radius: 0 0 20px 20px;
    width: 100%;
}
.info-details {
    width: 100%;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    background-color: #fff;
    justify-content: space-around;
}
.icons {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-photo {
    background: #31383F;
    border-radius: 50%;
}
  
.profile-photo .profile-img {
    width: 118px;
    height: 118px;
}
.image-upload > input {
    visibility: hidden;
    width: 0;
    height: 0;
}
.image-upload img {
    cursor: pointer;
}
.image {
    display: flex;
    justify-content: center;
}
.chat-box {
    position: relative;
}

.input-container-msg > button {
    background-color: #31383F;
    font-size: 20px;
    color: white;
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 30%;
    height: 45px;
}

.chats {
    min-width: 467px;
    height: 600px;
    overflow: auto;
    float: left;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.chat-box {
    display: flex;
    justify-content: space-between;
    height: 500px;
}
.sender {
    width: 45%;
    background-color: #F2E9eb;
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 10px;
}
.reciever {
    width: 45%;
    background-color: #31383f69;
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 10px;
}
.chats-section {
    display: flex;
    flex-direction: column;
}
.chat-box-input {
    position: sticky;
    bottom: 0px;
    left: 0;
}
.chat-box-messages {
    padding: 20px;
}

.input-container-msg > input {
    background-color: #f2e9ebc3;
    font-size: 20px;
    padding-left: 20px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 45px;
    transition: .3s;
    outline: none;
}
.chats::-webkit-scrollbar {
    display: none;
}