/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* Utilities */
.light-blue {
    color: #F2E9eb;
}
.lighter-blue {
    color: #D1D9DF;
}
.dark-blue {
    color: #31383F;
}
.light-grey {
    color: #F0F0F0;
}
body {
    height: 100vh;
}
h1, h4, h3 {
    color: #31383F;
    font-weight: bolder;
    transition: .2s;
}
h1 {
    font-size: 25px;
}
h4 {
    font-size: 14px;
}
h3 {
    font-size: 18px;
}
a {
    text-decoration: none;
    color: #31383F;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
ul {
    list-style: none;
}
ul li {
    padding: 10px;
}
/* ----------- Sign Up ------------ */
.background {
    background-color: #F2E9eb;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1039%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(242%2c 233%2c 235%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c496.578C92.138%2c503.939%2c168.659%2c433.268%2c248.364%2c386.462C331.506%2c337.638%2c444.777%2c308.568%2c475.687%2c217.239C506.79%2c125.338%2c417.036%2c37.942%2c398.554%2c-57.303C381.334%2c-146.046%2c421.995%2c-246.857%2c371.129%2c-321.586C319.225%2c-397.839%2c223.596%2c-439.371%2c131.868%2c-449.1C46.233%2c-458.183%2c-29.31%2c-404.218%2c-109.391%2c-372.551C-181.601%2c-343.997%2c-251.183%2c-317.434%2c-314.561%2c-272.568C-395.214%2c-215.473%2c-497.356%2c-169.796%2c-528.352%2c-75.966C-560.166%2c20.341%2c-535.553%2c135.152%2c-476.484%2c217.603C-420.132%2c296.261%2c-307.607%2c299.825%2c-224.105%2c348.714C-145.275%2c394.868%2c-91.057%2c489.303%2c0%2c496.578' fill='%23cfadb5'%3e%3c/path%3e%3cpath d='M1440 991.335C1546.114 1000.5360000000001 1661.563 1101.65 1749.103 1040.974 1837.637 979.61 1781.385 833.616 1815.137 731.319 1843.737 644.639 1922.833 580.292 1931.096 489.391 1940.47 386.26800000000003 1940.797 262.087 1864.117 192.5 1786.755 122.29500000000002 1662.909 168.49900000000002 1559.6970000000001 152.349 1473.119 138.80200000000002 1394 101.01100000000002 1306.471 105.243 1199.563 110.41199999999998 1065.618 94.24900000000002 1000.736 179.375 935.054 265.55 994.9549999999999 390.134 1007.279 497.784 1016.594 579.15 1039.1979999999999 653.667 1063.968 731.7280000000001 1092.47 821.552 1085.976 936.6610000000001 1163.527 990.201 1240.935 1043.642 1346.288 983.21 1440 991.335' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1039'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

form, .chat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    width: 468px;
    min-width: 467px;
    height: 600px;
    box-shadow:  18px 18px 56px #cec6c8,
             -18px -18px 56px #cec6c8;
}
.chat-box {
    box-shadow:  18px 18px 56px #cec6c8,
             -18px -18px 56px #ffffff;
}
.input-container, .input-container-msg {
    display: flex;
    min-width: 450px;
}

.input-container > input, textarea {
    background-color: #f2e9ebc3;
    font-size: 20px;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    transition: .3s;
    outline: none;
}

input::placeholder, textarea::placeholder {
    font-size: 17px;
    color: #31383F;
}
textarea {
    height: 100px;
}
.group {
    display: flex;
    justify-content: space-between;
}
.gender {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px;
    align-items: center;
}
.gender-input {
    padding: 10px 20px;
    background-color: #f2e9ebc3; 
    border-radius: 10px;
    color: #31383F;
    margin: 20px;
}
.submit {
    padding: 10px 20px;
    background-color: #31383F;
    border-radius: 10px;
    color: #F0F0F0;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 20px;
    border: none;
}
.login {
    display: flex;
    flex-direction: row;
}

.login > span {
    color: #31383F;
    font-weight: 500;
}

.login > button {
    font-size: 18px;
    color: #31383F;
    border: none;
    margin-left: 20px;
    background:none;
    font-weight: bolder;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s;
}

.login > button:hover {
    transition: .3s;
    transform: scale(1.05);
}
.logo {
    width: 150px;
    height: 150px;
}

.logo-small {
    width: 48px;
    height: 48px;
}
/* Home Page */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0 10px 5%;
    width: 20%;
    height: 100%;
    position: fixed;
    box-shadow: #31383F 0px 0px 10px 0px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(242%2c 233%2c 235%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c496.578C92.138%2c503.939%2c168.659%2c433.268%2c248.364%2c386.462C331.506%2c337.638%2c444.777%2c308.568%2c475.687%2c217.239C506.79%2c125.338%2c417.036%2c37.942%2c398.554%2c-57.303C381.334%2c-146.046%2c421.995%2c-246.857%2c371.129%2c-321.586C319.225%2c-397.839%2c223.596%2c-439.371%2c131.868%2c-449.1C46.233%2c-458.183%2c-29.31%2c-404.218%2c-109.391%2c-372.551C-181.601%2c-343.997%2c-251.183%2c-317.434%2c-314.561%2c-272.568C-395.214%2c-215.473%2c-497.356%2c-169.796%2c-528.352%2c-75.966C-560.166%2c20.341%2c-535.553%2c135.152%2c-476.484%2c217.603C-420.132%2c296.261%2c-307.607%2c299.825%2c-224.105%2c348.714C-145.275%2c394.868%2c-91.057%2c489.303%2c0%2c496.578' fill='%23cfadb5'%3e%3c/path%3e%3cpath d='M1440 991.335C1546.114 1000.5360000000001 1661.563 1101.65 1749.103 1040.974 1837.637 979.61 1781.385 833.616 1815.137 731.319 1843.737 644.639 1922.833 580.292 1931.096 489.391 1940.47 386.26800000000003 1940.797 262.087 1864.117 192.5 1786.755 122.29500000000002 1662.909 168.49900000000002 1559.6970000000001 152.349 1473.119 138.80200000000002 1394 101.01100000000002 1306.471 105.243 1199.563 110.41199999999998 1065.618 94.24900000000002 1000.736 179.375 935.054 265.55 994.9549999999999 390.134 1007.279 497.784 1016.594 579.15 1039.1979999999999 653.667 1063.968 731.7280000000001 1092.47 821.552 1085.976 936.6610000000001 1163.527 990.201 1240.935 1043.642 1346.288 983.21 1440 991.335' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.main {
    width: 80%;
    height: 100%;
    margin-left: 20%;
    
}

/* Start Header Nav */
.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    justify-content: space-between;
  }
.nav-links a {
    display: flex;
    align-items: center;
    padding: 8px 25px 8px 8px;
    font-size: 15px;
    width: fit-content;
    margin-bottom: 10px;
}
.nav-links a i {
    margin-right: 15px;
    font-size: 1.5rem;
}
.nav-links a:hover {
    background-color:#d68f9f;
    border-radius: 50px;
    color: #F0F0F0;
}
.nav-links a:hover:first-child {
    background-color:#F2E9eb;
}
.nav-links a:first-child i {
    margin: 0;
}
.clicked {
    background-color:#d68f9f;
    border-radius: 50px;
    color: #F0F0F0;
}
.logout-button {
    background-color: #31383F;
    width: 90%;
    height: 90px;
    color: #fff;
    font-weight: 700;
    border: none;
    padding: 10px 5px;
    transition: 0.3s;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 1rem;
}
.logout-button:hover {
    background-color: #31383f7e;
}

/* Main Section Users */
.column {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-left: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow:  18px 18px 56px #cec6c8,
             -18px -18px 56px #ffffff;
}
.column:hover {
    transition: width 2s;
    width: 180px;
    box-shadow: #d68f9f 1px 1px 10px 0px;
}
.image-user {
    width: 150px;
    height: 150px;
}
.image-user img {
    width: 100%;
    border-radius: 50%;
    height: fit-content;
}
.info {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    background-color: #F2E9eb;
    border-radius: 0 0 20px 20px;
    width: 100%;
}
.info-details {
    width: 100%;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    background-color: #fff;
    justify-content: space-around;
}
.icons {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-photo {
    background: #31383F;
    border-radius: 50%;
}
  
.profile-photo .profile-img {
    width: 118px;
    height: 118px;
}
.image-upload > input {
    visibility: hidden;
    width: 0;
    height: 0;
}
.image-upload img {
    cursor: pointer;
}
.image {
    display: flex;
    justify-content: center;
}
.chat-box {
    position: relative;
}

.input-container-msg > button {
    background-color: #31383F;
    font-size: 20px;
    color: white;
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    width: 30%;
    height: 45px;
}

.chats {
    min-width: 467px;
    height: 600px;
    overflow: auto;
    float: left;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.chat-box {
    display: flex;
    justify-content: space-between;
    height: 500px;
}
.sender {
    width: 45%;
    background-color: #F2E9eb;
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 10px;
}
.reciever {
    width: 45%;
    background-color: #31383f69;
    border-radius: 10px;
    height: fit-content;
    margin-bottom: 10px;
}
.chats-section {
    display: flex;
    flex-direction: column;
}
.chat-box-input {
    position: sticky;
    bottom: 0px;
    left: 0;
}
.chat-box-messages {
    padding: 20px;
}

.input-container-msg > input {
    background-color: #f2e9ebc3;
    font-size: 20px;
    padding-left: 20px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 45px;
    transition: .3s;
    outline: none;
}
.chats::-webkit-scrollbar {
    display: none;
}
.none {
    display: none;
}
.users {
    width: 200px;
    height: 500px;
    background-color: #F2E9eb;
    box-shadow:  18px 18px 56px #cec6c8,
             -18px -18px 56px #ffffff;
    border-radius: 20px;
}

.profile {
    align-items: center;
    display: flex;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border-radius: 20px;
}
.profile:hover {
    box-shadow: inset 200px 0 0 0 #d68f9f;
    color: white;
}

/* PopUp Inform */
.popup {
    transition: top 0.25s ease;
    position: absolute;
    top: 1%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 468px;
    margin: auto;
    overflow: auto;
    background: #F2E9eb;
    border-radius: 15px;
    padding: 1em 2em;
    height: fit-content;
    box-shadow:  18px 18px 56px #cec6c8,
             -18px -18px 56px #ffffff;
    visibility: hidden;
}
.popup-visible {
    visibility: visible;
}
.popup .infos {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popup .submit {
    width: 30%;
    align-self: center;
    margin-top: 30px;
}
.close-btn {
    background-color: transparent;
    outline: inherit;
    border: none;
}
.bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  /* Media Query */
@media only screen and (max-width: 800px) {
    
    .container {
      display: flex;
      flex-direction: column-reverse;
    }

    .header {
      width: 13%;
      padding: 10px 5px;
    }
  
    .main {
      margin-left: 10%;
      width: 87%;
    }
    .header span {
      display: none;
    }
  
    .header .logout-button {
      width: 40px;
      border-radius: 50%;
      font-size: 0.6rem;
      margin-left: 20px;
    }
  
  
    .nav-links a {
      display: flex;
      align-items: center;
      padding: 4px 4px 4px 4px;
      font-size: 15px;
      margin-left: 20px;
      width: fit-content;
    }
    .nav-links a i {
      margin-right: 0;
    }
  }
  